:root{
    --background-light: #FCF0FE;
    --custom-text-purple: #9C80D4;
    --card-bg-light: #ffffff;

}

.short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
  }

.circle-image {
    width: 100%;
    border-radius: 50%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
  }


/*------------------------*/ 
  /*Light theme */
[data-bs-theme="light"]{
    --bs-body-bg: var(--background-light);
    --bs-body-color: var(--custom-text-purple);
    --bs-card-bg: var(--card-bg-light);
}

[data-bs-theme="light"] .card{
    --bs-card-bg: var(--card-bg-light);
}

[data-bs-theme="light"] .card .table * {
    background-color: var(--bs-card-bg);
  }

  [data-bs-theme="light"] .navbar {
    --bs-navbar-color: var(--custom-text-purple);
    --bs-navbar-hover-color: var(--custom-text-purple);
    --bs-navbar-brand-color: var(--custom-text-purple);
    --bs-navbar-brand-hover-color: var(--custom-text-purple);
  }

  [data-bs-theme="light"] .homeBanner * {
    background-color:#B8B8EA;
  }


  [data-bs-theme="light"] .btn-primary {
    
    --bs-btn-bg: var(--custom-text-purple);
    --bs-btn-border-color: var(--custom-text-purple);
    --bs-btn-hover-bg: #7E5FC8;
    --bs-btn-hover-border-color: #7E5FC8;
    --bs-btn-padding-x: 2rem;
    
    }

    /*
    [data-bs-theme="light"] .navbar-buttons {
        display: flex;
        justify-content: center;
        gap: 30rem;
        padding: 1rem;
    
    }


  /*------------------------*/
